<script>
    const socket = io()

    socket.on('updateProducts', (products) => {
        const productsList = document.getElementById('productsList')
        productsList.innerHTML = ''

        products.forEach((product) => {
            const productDiv = document.createElement('div')
            productDiv.innerHTML = `
        <h2>${product.title}</h2>
        <h3>${product.description}</h3>
        <p>Precio: $${product.price}</p>
        `
            productsList.appendChild(productDiv)
        })
    })
</script>